bode{
    font-family: "Roboto", sans-serif;
    font-size: auto;
    color: #434455;
    background-color: #FFFFFF;
}   
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav-list{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
.team-member-name{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
.hero-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 49.6px;
}
.team-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 49.6px;
}
.features-item-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.features-item-title{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
.contacts-list{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.team-member-role{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.logo, .logo-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.footer-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.hero{
    background-color: #2E2F42;
    color: #FFFFFF;

    .hero-btn{
        background-color: #4D5AE5;
        color: #FFFFFF;
    }
}
 .page-footer{
        background-color: #2E2F42;
        color: #FFFFFF;
 }